<% provide(:title, "Propostaとは | ") %>
<div class="jumbotron jumbotron-extend text-center">
	<h2>自信のある企画書はありませんか？</h2>
	<h2>propostaは自信のある企画書、アイデアを投稿・公開し<br />関係企業、同じ志を持ったビジネスパーソンとの<br />マッチングを行うビジネスプラットフォームです。</h2>
	<h2>propostaを使って新しいプロジェクトを始めよう！</h2>
	<p><%= link_to "新規登録", new_user_registration_path, class: "btn-gradient-radius" %></p>
	<p><%= link_to "ログイン", new_user_session_path, class: "btn-gradient-radius" %></p>
</div>