<% provide(:title, "Propostaとは | ") %>
<div class="jumbotron jumbotron-extend text-center">
	<h2>Propostaは自信のある企画書、アイデアを投稿・公開し、<br />関係企業とのマッチングを行うビジネスプラットフォームです。</h2>
	<h2>一緒にプロジェクトを進めていくのも良し。<br />
      アイデアを買い取ってもらうだけでも良し。</h2>
	<p><%= link_to "新規登録", new_user_registration_path, class: "btn-gradient-radius" %></p>
	<p><%= link_to "ログイン", new_user_session_path, class: "btn-gradient-radius" %></p>
</div>