<div class="jumbotron jumbotron-extend text-center">
    <h1>企画書投稿してみませんか？</h1>
	<h2>Propostaを使って新しいプロジェクトを始めよう！</h2>
	<p><%= link_to '新規登録', new_user_registration_path, class: "btn-gradient-radius" %></p>
	<p><%= link_to 'Propostaとは', '/static_page/about', class: "btn-gradient-radius" %></p>
	<p><%= link_to '確認', new_post_path %></p>
</div>