// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*comment*/
.comment {
    margin: 20px 200px;
}

.comment-time {
  color: #696969;
}

.comment-form {
    width: 600px;
    height: 150px;
}

.btn-sm {
    width: 600px;
}