// Place all the styles related to the custom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*header*/
.navbar {
    background-color: #e6e6fa;
}
.alert {
    padding: 5px; 
    margin-bottom: 5px; 
    border-radius: 4px;
}
/*selectbox*/
.button, select {
    width: 100%;
    text-transform: none;
    height: 50px;
}


/*login*/
.form-wrapper {
   background: #fafafa;
   margin: 7em auto 3em auto;
   padding: 0 1em 40px 1em;
   max-width: 370px;
 }

 .form-wrapper h2 {
   text-align: center;
   padding: 1em 0;
 }

 .form {
   padding: 0 1.5em;
 }

 .form-item {
   margin-bottom: 0.75em;
   width: 100%;
 }

 .form-item input {
   background: #fafafa;
   border: none;
   border-bottom: 2px solid #e9e9e9;
   color: #666;
   font-family: 'Open Sans', sans-serif;
   font-size: 1em;
   height: 50px;
   transition: border-color 0.3s;
   width: 100%;
 }

 .f input:focus {
   border-bottom: 2px solid #c0c0c0;
   outline: none;
 }

 .button-panel {
   margin: 2em 0 0;
   width: 100%;
 }

 .button-panel .button {
   background: #6495ed;
   border: none;
   color: #fff;
   cursor: pointer;
   height: 50px;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.2em;
   letter-spacing: 0.05em;
   text-align: center;
   text-transform: uppercase;
   transition: background 0.3s ease-in-out;
   width: 100%;
 }

 .button:hover {
   background: #4682b4;
 }
 
 /*useredit*/
 .user-delete {
    margin-top: 80px;
 }

/*btn*/
.btn-gradient-radius {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(45deg, #4682b4 0%, #6495ed 100%);
  transition: .4s;
  margin-top: 30px;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #4682b4 0%, #6495ed 100%);
  text-decoration: none;
}

/*searchbox*/
.search-form {
  width: 200px;
  height: 30px;
  /*margin: 5px 0;*/
  font-size: 1em;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.search-form:focus {
  border: 1px solid #67c5ff;
}

.btn-flat-border {
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: white;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

/*footer*/

.fab {
  color: #C0C0C0;
  padding: 10px;
}

.fab:hover {
    color: #696969;
    transition: .4s;
}