// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input#post_title {
  width: 800px;
  height: 40px;
  margin: 20px 0;
  font-size: 16px;
  color: #333;
  border: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}
input#post_title:focus {
  border: 1px solid #67c5ff;
  border-top: none;
  border-right: none;
  border-left: none;
}

/*posts/new*/
trix-editor#post_content {
 
  width: 800px;
  height: 600px;
  margin: 20px 0;
  box-sizing: border-box;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

trix-editor#post_content:focus {
  border: 1px solid #67c5ff;
}
/*posts/index*/

.border-bottom {
  border-top: 3px solid #d3d3d3;
  width: 600px;
  display: inline-block;
}
.post-index {
  margin-top: 60px;
}
.post-index a {
  color: #000000;
}
.post-index a:hover {
  text-decoration: none;
  color: #778899;
}

/*posts/show*/

.postview {
  background-color: #e6e6fa;
  width: 100%;
  height: 100%;
}
.post-body {
  background-color: #fffafa;
  border-radius: 10px;
  margin: 20px 80px;
  padding: 30px 40px;
  font-size: 15px;
}
.post-title strong {
 font-size: 20px;
}
.font15 {
  font-size: 15px;
}
.post-menu {
  color: #000000;
}
.post-menu:hover {
  color: #696969;
  text-decoration: none;
}
