// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*index*/

.border-bottom {
    border-top: 3px solid #d3d3d3;
    width: 600px;
    display: inline-block;
}

.post-index {
    margin-top: 60px;
}

/*panel*/

.panel {
    width: 800px;
    margin-top: 60px;
}
