// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*index*/

.border-bottom {
    border-top: 3px solid #d3d3d3;
    width: 600px;
    display: inline-block;
}

.post-index {
    margin-top: 60px;
}

.post-index a {
    color: #000000;
}

.post-index a:hover {
    text-decoration: none;
    color: #778899;
}

/*panel*/

.panel {
    width: 800px;
    margin: 60px 200px;
}

/*searchbox*/

.search-form {
  box-sizing: border-box;
  width: 300px;
  height: 27px;
  margin: 4px 0;
  font-size: 16px;
  color: #333;
  border: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.search-form:focus {
  border: 1px solid #67c5ff;
  border-top: none;
  border-right: none;
  border-left: none;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: white;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}