// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*home*/

.jumbotron p {
    display: inline-block;
}
.jumbotron {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url("desk2.jpg") no-repeat center center;
    background-size: cover;
    margin-top: -6px;
}
.jumbotron h1, .jumbotron h2 {
  color: #f5f5f5;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
}